body {
	padding-top: 50px;
}

body {
  padding-top: 50px;
}

#displayname {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.timeline {
  padding-left: 80px;
  height: 1000px;
  width: auto;
}

.jumbotron {
  padding: 100px 25px;
  background-color: black;
  color: #ffffff;
}

#welcome-col {
  background-color: gray;
}

.rank-list {
    padding-left: 15px;
    text-align: center;
}

.table th {
    text-align: center;
}

.icon {
	margin: 10px;
}
